{% extends 'base.html.twig' %}

{% block title %} CGU AgriExpress ! {% endblock %}

{% block body %}

{{ include("partials/title_section.html.twig", {'name':'Conditions Générales Utilisation'}) }}

<div class="container">
    <h1 class="text-center">General Conditions of Use of AgriExpress</h1>
    <p class="text-justify">
        <h2>Item 1 - Object</h2>
        <h2>Item 2 - Products</h2>
        <h2>Item 3 - Price</h2>
        <h2>Item 4 - Orders</h2>
        <h2>Item 5 - Payment method</h2>
        <h2>Item 6 - Delivery</h2>
        <h2>Item 7 - Guarantee</h2>
        <h2>Item 8 - Applicable law in the event of disputes</h2>
        <h2>Item 9 - Intellectual property</h2>
        <h2>Item 10 - Personal data</h2>
    </p>
</div>
{% endblock %}
